/* For webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* For Firefox */
html {
    scrollbar-width: none; /* Hides the scrollbar */
}

/* General overflow settings */
body {
    overflow: -moz-scrollbars-none; /* Fallback for old browsers */
    overflow-y: scroll; /* Ensure content can scroll without a visible bar */


    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%; /* Prevents content overflow */
}

.neon-text {
    text-shadow: 0 0 5px #fff, 0 0 10px #f97316, 0 0 20px #f97316;
}

.scroll-fade-in {
    will-change: opacity, transform;
}

@media (prefers-reduced-motion: no-preference) {
    .scroll-fade-in {
      transition: opacity 1.2s ease, transform 1.2s ease;
    }

    .scroll-fade-in.show {
      opacity: 1 !important;
      transform: translateY(0) !important;
    }
}