{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'robots' content = 'index, follow'>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
        <link rel="icon" sizes="256x256" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Compilation -->
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title> Account Activation Email Sent </title>
    </head>

    <body>
        <div class="max-w-md mx-auto mt-12 text-center">
            <div class='flex justify-center mb-5 h-[30%]'>
                <img src="{% static 'favicon_io/android-chrome-192x192.png' %}" alt='OWLPHA Logo' class="h-20 w-20">
            </div>
            <h1 class="text-2xl font-semibold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text">You're Almost There!</h1>
            <p class="mt-4 text-gray-700">
                We've sent an activation link to your email: <strong>{{ user.email }}</strong>
            </p>
            <p class="mt-2 text-sm text-gray-500">
                Please check your inbox and click the link to activate your account.
            </p>
            <p class="mt-6 text-gray-500">
                Didn’t receive the email? 
                <a href="{% url 'resend_activation_email' uidb64=uid %}" class="text-blue-500 underline">Resend Activation Email</a>
            </p>
        </div>
    </body>
</html>