{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset='utf-8'>
        <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
        <meta name = 'robots' content = 'index, follow'>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
        <link rel="icon" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
        <link rel="icon" sizes="256x256" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

        <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
        <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

        <!-- CSS Compilation -->
        <link rel="stylesheet" href="{% static 'style.css' %}">

        <title> Activation Link Invalid! </title>
    </head>

    <body>
        <div class="max-w-md mx-auto mt-12 text-center">
            <div class='flex justify-center mb-5 h-[30%]'>
                <img src="{% static 'favicon_io/android-chrome-192x192.png' %}" alt='OWLPHA Logo' class="h-20 w-20">
            </div>
            <h1 class="text-2xl font-semibold text-red-600">Invalid Activation Link</h1>
            <p class="mt-4 text-gray-700">
                The activation link is either invalid or has expired.
            </p>
            <p class="mt-2">
                You can request a new one below.
            </p>
            <a href="{% url 'signup' %}" class="inline-block px-4 py-2 bg-purple-600 hover:bg-purple-700 text-white rounded-md font-medium transition duration-300 ease-in-out transform hover:scale-105">
                Go Back to Sign Up
            </a>
        </div>
    </body>
</html>