{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv = 'X-UA-Compatible' content = 'IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='content-type' content='text/html; charset = utf-8'/>
    <meta name = 'robots' content = 'index, follow'>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'favicon_io/android-chrome-192x192.png' %}">
    <link rel="icon" sizes="256x256" href="{% static 'favicon_io/android-chrome-512x512.png' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon_io/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon_io/site.webmanifest' %}">

    <link rel = 'stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel = 'stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css'>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">

      <!-- CSS Compilation -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title> {{title}} </title>
  </head>

  <body class="overflow-x-hidden bg-black">

    <section class="relative h-screen w-full overflow-hidden">
      <!-- Background Video -->
      <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover z-0">
        <source src="{% static 'bg_video.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>

      <!-- Overlay -->
      <div class="absolute inset-0 bg-black bg-opacity-90 z-10"></div>

      <div class="relative z-20 flex justify-between w-full bg-transparent py-6 px-6">  
        <!-- Logo + Title -->
        <a href="/" class="flex items-center space-x-2">
          <img src="{% static 'favicon_io/android-chrome-192x192.png' %}" alt="OWLPHA Logo" class="h-10 w-10"/>
          <h2 class="text-xl font-[poppins] font-semibold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text flex items-center space-x-2 drop-shadow-md">OWLPHA University</h2>
        </a>

        <!-- Start Button -->
        <div>
          <a href="{% url 'signup' %}">
          <button class="bg-gradient-to-r from-purple-500 to-blue-500 hover:from-purple-600 hover:to-blue-600 text-white px-4 py-2 rounded-lg shadow transition duration-300 ease-in-out">
            Sign Up For Free
          </button>
          </a>
        </div>
      </div>

      <!-- Content -->
      <div class="relative z-20 flex flex-col items-center justify-center h-full text-center px-4 -py-4 transform hover:scale-105 hover:-translate-y-1 transition duration-300 ease-in-out">
        <h1 class="text-4xl md:text-6xl neon-text font-extrabold uppercase text-white">
          Ready to jump into Blockchain & Web3.0 World?
        </h1>
        <p class="mt-4 text-gray-300">
          Start your journey into the decentralized future and blockchain technology.
        </p>
        <button class="mt-8 font-bold uppercase bg-gradient-to-r from-purple-500 to-blue-500 hover:from-purple-600 hover:to-blue-600 text-white px-6 py-3 rounded-lg shadow transition duration-300 ease-in-out">
          Tailored For
        </button>

        <div class="flex items-center grid grid-cols-1 md:grid-cols-3 gap-10 mt-8">
          <div>
            <h2 class="text-4xl text-orange-500 font-bold">01</h2>
            <p class="mt-4">Web3 beginners ​</p>
          </div>

          <div>
            <h2 class="text-4xl text-orange-500 font-bold">02</h2>
            <p class="mt-4">Developers transitioning into blockchain​</p>
          </div>

          <div>
            <h2 class="text-4xl text-orange-500 font-bold">03</h2>
            <p class="mt-4">Creators and writers​</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Education Format -->
    <section class="relative w-full overflow-hidden mt-20 bg-black text-center">
      <h2 class="text-3xl md:text-4xl neon-text uppercase hover:-translate-y-1 transform transition duration-300">We're shaping the <span class="italic uppercase font-serif text-gray-300">Web3 education frontier</span></h2>
      <div class="mt-12 space-y-8 max-w-4xl mx-auto hover:-translate-y-1 transform transition duration-300">
        <p class="mt-4 text-gray-400 max-w-2xl mx-auto">
          At OWLPHA University, we’re empowering future leaders with the skills to thrive in Web3, blockchain, and decentralized innovation.
        </p>
      </div>

      <div class="flex flex-col md:flex-row justify-center items-center gap-1 py-8 px-4 min-h-screen">
        <!-- Image Wrapper 1 -->
        <div class="w-full md:w-1/2 relative group overflow-hidden rounded-bl shadow-lg h-[90vh] hover:-translate-y-1 transform transition duration-300">
          <!-- Image with Zoom Effect -->
          <img src="{% static 'learning0.jpg' %}"
              alt="OWLPHA - Student learning"
              class="w-full h-full object-cover transition duration-500 transform group-hover:scale-110">

          <!-- Dark Overlay -->
          <div class="absolute inset-0 bg-black bg-opacity-40 transition duration-500 group-hover:bg-opacity-60"></div>

          <!-- Overlay Bottom-Right -->
          <div class="absolute bottom-4 right-4 flex items-center space-x-2 bg-black/50 px-3 py-2 rounded-lg backdrop-blur-sm z-10">
            <img src="{% static 'favicon_io/android-chrome-192x192.png' %}" alt="OWLPHA Logo" class="h-8 w-8">
            <h2 class="text-sm font-[Poppins] font-semibold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text drop-shadow-md">
              OWLPHA University
            </h2>
          </div>
        </div>

        <!-- Image Wrapper 2 -->
        <div class="w-full md:w-1/2 relative group overflow-hidden rounded-br shadow-lg h-[90vh] hover:-translate-y-1 transform transition duration-300">
          <img src="{% static 'learning1.jpg' %}"
              alt="OWLPHA - Student learning"
              class="w-full h-full object-cover transition duration-500 transform group-hover:scale-110">

          <div class="absolute inset-0 bg-black bg-opacity-40 transition duration-500 group-hover:bg-opacity-60"></div>

          <div class="absolute bottom-4 right-4 flex items-center space-x-2 bg-black/50 px-3 py-2 rounded-lg backdrop-blur-sm z-10">
            <img src="{% static 'favicon_io/android-chrome-192x192.png' %}" alt="OWLPHA Logo" class="h-8 w-8">
            <h2 class="text-sm font-[Poppins] font-semibold bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text drop-shadow-md">
              OWLPHA University
            </h2>
          </div>
        </div>
      </div>

      <div class="px-4">
        <h2 class="text-3xl md:text-4xl font-bold font-[Poppins] mb-4 neon-text uppercase hover:-translate-y-1 transform transition duration-300">Our Partners</h2>
        <p class="text-lg bg-gradient-to-r from-purple-500 to-blue-500 text-transparent bg-clip-text drop-shadow-md hover:-translate-y-1 transform transition duration-300">
          We’re actively open to meaningful <span class="font-semibold">partnerships</span> and <span class="font-semibold">collaborations</span> that align with our mission to democratize Web3 education globally.
        </p>
      </div>
    </section>

    <section class="px-6 md:px-12 py-16 font-[Inter] text-white">
      <div class="space-y-6">
        <p class="text-3xl leading-relaxed font-semibold transition-all duration-[1200ms] ease-in opacity-100 translate-y-6 scroll-fade-in hover:-translate-y-1 transform transition duration-300">
          <span class="text-white">
            The future of education is decentralized. 
            OWLPHA University is at the forefront of this global transformation — empowering learners to explore the world of Web3, blockchain, and onchain innovation.
          </span>
        </p>

        <p class="text-3xl leading-relaxed font-medium text-gray-300 transition-all duration-[1200ms] ease-in scroll-fade-in hover:-translate-y-1 transform transition duration-300">
          From curious beginners to emerging developers and creators, we provide open access to world-class education designed to unlock the opportunities of decentralized finance, smart contracts, and tokenized systems.
          <br /><br />
          Our growing network of educators, engineers, and blockchain-native minds share one bold vision:
          <span class="italic font-medium text-gray-400"> To make Web3 education accessible, community-driven, and globally impactful.</span>
        </p>

        <p class="text-3xl leading-relaxed font-medium text-gray-500 transition-all duration-[1200ms] ease-in scroll-fade-in hover:-translate-y-1 transform transition duration-300">
          <em>Join the movement. Learn the new internet — the OWLPHA way.</em>
        </p>
      </div>

      <div class="mt-20">
        <h2 class="text-3xl md:text-4xl font-bold mb-4 neon-text uppercase hover:-translate-y-1 transform transition duration-300"> Our Team </h2>

        <!-- Carousel -->
        <div class="relative overflow-hidden">
          <div class="flex overflow-x-auto space-x-4 carousel">
            <div class="flex gap-8">
                                
              <div class="text-center min-w-max font-bold">
                <div class="mt-8 lg:mt-16 p-4 w-full relative group">
                  <!-- Image Section -->
                  <div class="relative">
                    <img src="" class="w-full h-full object-cover" alt="Gallery Image"/>
                  </div>
                        
                  <!-- Social Icons Section -->
                  <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center space-x-8 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                    <a href="https://www.tiktok.com/@elvix.sn?_t=ZN-8uP3ab07Ub0&_r=1" class="text-white hover:text-gray-300"><i class="bi bi-tiktok text-xl"></i></a>
                    <a href="https://www.instagram.com/anene_elvix?igsh=MTFzOXF2ZmNvbTB2Zg%3D%3D&utm_source=qr" class="text-white hover:text-gray-300"><i class="bi bi-instagram text-xl"></i></a>
                    <a href="#" class="text-white hover:text-gray-300"><i class="bi bi-facebook text-xl"></i></a>
                  </div>
                </div>

                <!-- Team name and Role -->
                <h2 class="mt-4 mb-2">
                  <a href="#"> name </a>
                </h2>
                <p>
                  Hello
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>

